* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

:root {
    /* Primary-color */
    --Red: hsl(0, 78%, 62%);
    --Cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);

    /* Neutral-color */
    --VeryDarkBlue: hsl(234, 12%, 34%);
    --GrayishBlue: hsl(229, 6%, 66%);
    --VeryLightGray: hsl(0, 0%, 98%);

    /* font-size  */
    font-size: 15px, 24px, 36px;

}

body {
    font-size: 15px;
    font-family: Poppins;
    font-style: normal;
    background-color: var(--VeryLightGray);
}



/* layout */

.layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

/* section-one */
.container-head {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    margin-bottom: 64px;
    width: 540px;
    height: 168px;
    text-align: center;
    /* border: 2px solid black; */
}


h3.title-one {
    color: var(--VeryDarkBlue);
    font-weight: 275;
    font-size: 36px;
    line-height: 54px;
    letter-spacing: 0.25px;
    opacity: 0.5;
}

h1.title-two {
    color: var(--VeryDarkBlue);
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    letter-spacing: 0.25px;
    margin-bottom: 16px;
}

.description-head {
    color: var(--GrayishBlue);
    opacity: 50%;
    letter-spacing: 0.1px;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;

}

/* section-two */

.container-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        "Supervisor TeamBuilder Calculator"
        "Supervisor Karma Calculator";
    margin-bottom: 80px;
    width: 1110px;
    height: 530px;
    /* border: 2px solid black; */
}

/* four-card-desktop */
.container-cards div {
    width: 350px;
    height: 250px;
    padding: 32px;
    border-radius: 4px;
    box-shadow: 0px 20px 45px -35px var(--Blue);
    -webkit-box-shadow: 0px 20px 45px -35px var(--Blue);
    -moz-box-shadow: 0px 20px 45px -35px var(--Blue);
}


div.TeamBuilder {
    border-top: 4px solid var(--Red);
    grid-area: TeamBuilder;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

div.Supervisor {
    border-top: 4px solid var(--Cyan);
    grid-area: Supervisor;
    display: flex;
    flex-direction: column;
    align-self: center;
}

div.Calculator {
    border-top: 4px solid var(--Blue);
    grid-area: Calculator;
    align-self: center;
    display: flex;
    flex-direction: column;
}

div.Karma {
    border-top: 4px solid var(--Orange);
    grid-area: Karma;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}

.title-cards {
    color: var(--VeryDarkBlue);
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
}

.description-cards {
    font-weight: 400;
    font-size: 13px;
    line-height: 23px;
    color: var(--VeryDarkBlue);
    opacity: 50%;
}

#image {
    width: 64px;
    height: 64px;
    margin-top: auto;
    align-self: flex-end;
}

/* --tablet -design */
@media screen and (max-width:768px) {
    
    h3.title-one {
        font-size: 30px;
        line-height: 45px;
    }

    h1.title-two {
        font-size: 30px;
        line-height: 45px;
    }

    .container-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
            "Supervisor TeamBuilder"
            "Karma Calculator";

        margin-bottom: 80px;
        width: 700px;
        height: auto;
    }

    .container-cards div {
        width: 311px;
        height: 222px;
        margin: 0 20px 23px 20px;
        padding: 28px;
    }

    #image {
        width: 57px;
        height: 57px;
    }

}

/* mobile-design */
@media screen and (max-width:576px) {

    .container-head {
        margin-top: 85px;
        margin-bottom: 76px;
        width: 311px;
        height: 161px;

    }

    h3.title-one {
        font-size: 24px;
        line-height: 36px;
    }

    h1.title-two {
        font-size: 24px;
        line-height: 36px;
    }

    .container-cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas:
            "Supervisor "
            "TeamBuilder"
            "Karma "
            "Calculator";
        margin-bottom: 80px;
        width: 375px;
        height: auto;
    }

    /* four-card-desktop */
    .container-cards div {
        width: 311px;
        height: 222px;
        margin: 0 32px 23px 32px;
        padding: 28px;
    }

    #image {
        width: 57px;
        height: 57px;
    }

}


/* --footer */
.attribution {
    font-size: 11px;
    text-align: center;
    color: var(--VeryDarkBlue);
    padding: 10px;
}

.attribution a {
    color: var(--Blue);
}